{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<style>

.reset-box{
    width:90%;
    max-width:450px;
    margin:80px auto;
    background:rgba(255,255,255,0.05);
    padding:40px;
    border-radius:20px;
    color:white;
}

.reset-box h2{
    text-align:center;
    margin-bottom:20px;
}

.reset-box input{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:rgba(255,255,255,0.08);
    color:white;
    margin-top:15px;
}

.reset-box button{
    width:100%;
    margin-top:20px;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    cursor:pointer;
}

</style>

<div class="reset-box">

    <h2>Reset Password</h2>

    <form method="POST">

        {% csrf_token %}

        {{ form.email }}

        <button type="submit">

            Send Reset Link

        </button>

    </form>

</div>

{% endblock %}